.four {
	background: #fec2af; /* Old browsers */
	background: -moz-linear-gradient(left,  #fec2af 0%, #f59b82 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fec2af), color-stop(100%,#f59b82)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* IE10+ */
	background: linear-gradient(to right,  #fec2af 0%,#f59b82 100%); /* W3C */

	.fp-tableCell {
		padding: 0 7%;

		.bg-section {
			background: url(#{$path}/sectionFour/bg_parallax.png) no-repeat;
			background-size: 100% 100%;
		}
	}

	.row-left {

	}

	.row-right {

	}
}
