.four {
	background: #fec2af; /* Old browsers */
	background: -moz-linear-gradient(left,  #fec2af 0%, #f59b82 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fec2af), color-stop(100%,#f59b82)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #fec2af 0%,#f59b82 100%); /* IE10+ */
	background: linear-gradient(to right,  #fec2af 0%,#f59b82 100%); /* W3C */
	

	.cloud-section-three {
		position: absolute;
		background: url(#{$path}sectionFour/sprite_cloud.png) no-repeat;
		z-index: 1;

		&#first-three {
			width: 21.4rem;
			height: 8.2rem;
			background-position: 0 0;
			top: 20%;
			left: 1%;
			animation: cloudOneSectionThree 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&#two-three {
			width: 37.4rem;
			height: 9.9rem;
			background-position: 0 -91px;
			top: 10%;
			right: 10%;
			animation: cloudTwoSectionThree 5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&#three-three {
			width: 14rem;
			height: 2.4rem;
			background-position: 0 -210px;
			top: 60%;
			right: 15%;
			animation: cloudThreeSectionThree 3s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
		}

		&#four-three {
			width: 14rem;
			height: 2.4rem;
			background-position: 0 -253px;
			left: 0;
			top: 70%;
			animation: cloudFourSectionThree 4s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
		}
	}

	.fp-tableCell {
		padding: 0;

		.bg-section {
			background: url(#{$path}/sectionFour/bg_parallax.png) no-repeat center center;
		}

		.container-x {
			float: left;
		}
	}

	.row-left {
		background: url(#{$path}/sectionFour/iPad.png) no-repeat right top;
		height: 48rem;
		width: 66.7rem;
		position: relative;

		.connection {
			position: absolute;

			&:first-child {
				background-position: 0 -249px;
				width: 3.5rem;
				height: 15.4em;
				top: 19rem;
  				left: 28.5rem;
  				animation: connection 3s 1s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&:first-child + span {
				background-position: -36px -272px;
				width: 2.4rem;
				height: 10rem;
				top: 21.5rem;
  				left: 31.8rem;
  				animation: connection 3s 0.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
			}

			&:last-child {
				background-position: -64px -291px;
				width: 1.5em;
				height: 5.6em;
				top: 23.6rem;
  				left: 34.8rem;
  				animation: connection 3s 0s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
			}
		}	
	}

	.row-right {
		.section-title {
			span:first-child {
				font-size: 3.5rem;
			} 

			span:first-child + span {
				margin-top: -3.2rem;
  				display: block;
			}

			span:last-child {
				margin-top: -2rem;
				display: block;
				padding-left: 3rem;
			}
		}

		.section-text {
			color: #8a333b;
			margin-top: 4rem;
			position: relative;
			left: -4.8rem;
		}

		.section-button-onde {
			&#send .main-picto {
				background-position: 0 0;
				left: 3.9rem;
			}

			&#send .back-onde {
				left: 3rem;
			}

			margin-right: 1.5rem;
			width: 17rem;
			left: 11rem;
		}
	}
}


/* ANIM */

@keyframes cloudOneSectionThree {
  	0%   { transform: translateX(30px); }
  	50% { transform: translateX(-30px); }
  	100% { transform: translateX(30px); }
}

@keyframes cloudTwoSectionThree {
	0%   { transform: translateX(-150px); }
  	50% { transform: translateX(150px); }
  	100% { transform: translateX(-150px); }
}

@keyframes cloudThreeSectionThree {
	0%   { transform: translateX(-60px); }
  	50% { transform: translateX(60px); }
  	100% { transform: translateX(-60px); }
}

@keyframes cloudFourSectionThree {
	0%   { transform: translateX(15px); }
  	50% { transform: translateX(-15px); }
  	100% { transform: translateX(15px); }
}

@keyframes connection {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

/* RESPONSIVE */

@media screen and (min-width: 1500px) {
	.four .row-left {
		width: 81rem;
	}

	.four .fp-tableCell .container-x {
		float: none;
		max-width: 80%;
	}
}

@media screen and (min-width: 1800px) {
	.four .fp-tableCell .container-x {
		max-width: 70%;
	}
}

